<div class="footer">
    <div class="contact-me">
        <p>Get In Touch</p>
    </div>
    <div class="social-logos">
        <a href="https://www.github.com/jry2112/">
            <img class="social-logo" src="assets/images/GitHub-Mark-Light-64px.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/jadayoung/">
            <img class="social-logo" src="assets/images/LI-In-Bug.png" alt="LinkedIn">
        </a>
        <a href="mailto:contact@jadayoung.me">
            <span class="material-symbols-outlined social-logo">
                mail
                </span>
        </a>

    </div>
</div>