<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    
    <main>
      <div>
        <h1>Projects Page</h1>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>